@font-face {
    font-family: FiraSans;
    src:
        url('fonts/FiraSans-Light.woff2') format('woff2'),
        url('fonts/FiraSans-Light.woff') format('woff');
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    color: #494C66;
    height: 100%;
    min-height: 100%;
    font-family: FiraSans;
}

a {
    color: #6D7593;
}

.hero .header {
    width: 100%;
    color: #37374A;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.hero-content {
    background: #fafafa;
}

.header .logo {
    font-size: 2em;
    margin-right: 0.2em;
    cursor: pointer;
}

.header .info {
    float: left;
    font-size: 1.2em;
    padding-left: 0.4em !important;
}

.dropzone {
    background: url('images/background.png');
    margin: 0 auto;
    padding: 0 2em 0 2em;
    border: 1px dashed #494C66;
    border-radius: 2em;
}

.dropzone:hover {
    border: 1px solid #C9C9CA;
}

.fileicon {
    background: url('/images/file.svg') no-repeat center;
    background-size: 16em 16em;
    height: 16em;
    margin: 4em auto;
    pointer-events: none;
}

.dropzone.dz-drag-hover {
    border-color: #9496C6;
}

.dropzone-text {
    width: 100%;
    text-align: center;
    font-size: 2em;
    pointer-events: none;
    position: relative;
    top: 0.65em;
}

.dropzone-subtext {
    width: 100%;
    text-align: center;
    font-size: 2em;
    pointer-events: none;
    position: relative;
    bottom: 0.65em;
}

.dz-message {
    display: none;
}

.footer {
    border-top: 1px solid #e5e5e5;
    padding: 30px 20px 30px;
}

.faq {
    text-align: left;
    margin: 0.1em auto 0;
    font-size: 1.0em;
}

.faq .list-item .title {
    font-weight: bold;
    color: #0b97c4;
    font-size: 1.0em;
    margin: 0;
    margin-top: 0.65em;
    cursor: pointer;
}

.faq .list-item .title:hover {
    color: #0f7595;
}

.faq .list-item .title i {
    font-size: 1.0em;
}

.faq .list-item .content {
    height: auto;
    max-height: 0em;
    overflow: hidden;
    transition: max-height 350ms ease;
    -webkit-transition: max-height 350ms ease;
}

.faq .list-item .content.show {
    max-height: 18em;
}

.faq .list-item .content .inner-content {
    margin-top: 0.55em;
    margin-bottom: 0.55em;
}

.token-link {
    margin: 0.5em;    
}

.progress-bar {
    background-color: #6B6B93;
    color: #fafafa;
    padding: 1em;
    border-radius: 1em;
}

.progress {
    width: 100%;
    background-color: #cccccc;
    border-radius: 1em;
    color: #fafafa;
}

.show-faq {
    margin-top: 1em;
}

.beta-tag {
    font-variant: small-caps;
    font-size: 0.45em;
    color: #A9A9A9;
    margin-top: -0.5em;
}

.how-it-works {
    position: relative;
    bottom: 1em;
    color: #346BCA;
    margin-top: 2em;
    font-size: 1.4em;
}

.how-it-works .fa {
    position: relative;
    top: 0.65em;
    font-size: 0.6em;
}